<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="https://i.imgur.com/k7mpdZn.png" width="30" height="30" class="d-inline-block align-top" alt="" />
  </a>
  <a href="/coffee">Browse Our Collection</a>
  <button class="add"><a href="/coffee/new">✚ Add Item</a></button>
  <!-- Future items like contact us, socials -->
</nav>
