<nav class="navbar">
  <a class="navbar-brand" href="/">
    <img class="main-logo" src="https://cdn.vectorstock.com/i/1000v/67/47/coffee-cup-icon-white-background-vector-27166747.jpg" width="30" height="30" class="d-inline-block align-top"/>
  </a>
  <a href="/coffee">Our Menu</a>
  <a href="/contact">Contact Us</a>

  <div class="socials">
    <a href="https://www.instagram.com/" target="_blank" class="socials-icon">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStWO3B15FAMXi9vTvsGgXIt7z2G96y6BVL2Q&s" class="socials-image">
    </a>
    <a href="https://x.com/" target="_blank" class="socials-icon">
      <img src="https://images.seeklogo.com/logo-png/31/1/twitter-logo-png_seeklogo-318424.png" class="socials-image">
    </a>
  </div>
</nav>