* {
    font-family: "Story Script", sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

.navbar {
    display: flex;
    gap: 20px;
    margin-right: auto;
    padding-left: 30px;
}

.navbar a{
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.navbar a:hover {
    text-decoration: underline;
    color: darkolivegreen;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw;
    background: #FFFBEB;
}

#search {
    display: flex;
    width: 600px;
    border-radius: 6px;
    padding: 3px;
    background-color: lightgray;
}

li {
    list-style: none;
    display :flex;
    flex-flow: row wrap;
}

.logo {
    height: 30px; 
    width: 30px;
}

.delete {
    border: none;
    background-color: #FFFBEB;
}

.add {
    border-radius: 5px;
    padding: 3px;
    background-color: #d97706;
}

.coffee-id {
    color: black;
}

.edit {
    border: none;
    background-color: #FFFBEB;
}