* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    margin-bottom: 15px;
}

.navbar a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 0 15px;
}

.navbar a:hover {
    text-decoration: underline;
    transform: scale(1.2);
    color: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 100vw;
    background: #FFFBEB;
    padding: 40px 0;
    max-width: 100vw;
}

.container {
    max-width: 1000px;
    width: 100%;
}

h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.box {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 20px;
}

.box-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.box-title a{
    color: black;
}

.box-body {
    text-align: center;
    padding: 15px;
}

#search {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 6px;
    padding: 3px;
    padding: 10px;
    background-color: lightgray;
}

#search input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

.coffee-id {
    text-decoration: none;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}

.coffee-id:hover {
    text-decoration: underline;
    color:#d97706;
}

.logo {
    height: 30px; 
    width: 30px;
}

.add-item {
    color: white;
}

.add-item:hover {
    text-decoration: none;
    color: black;
}

.add a:hover {
    color: white;
    text-decoration: none;
}

.edit {
    border: none;
    background-color: #FFFBEB;
}

form {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    margin: 20px auto;
}

form .edit-form {
    border-radius: 7px;
    padding: 3px;
}

form .edit-form-price {
    border-radius: 7px;
    padding: 3px;
    width: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    border-radius: 8px;;
    padding: 10px 15px;
}

.text-container {
    margin-top: 50px;
    
}

.shop-picture {
    height: 450px;
    width: 1000px;
}

.location {
    font-size: 36px;
    font-weight: bold;
}

.socials-icons {
    display: flex;
    gap: 16px;
    margin-left: auto;
}

.socials a:hover {
    text-decoration: none;
}

.socials {
    display: inline-block;
}

.socials-image {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.header-text {
    font-size: 36px;
    font-weight: bold;
}

.main-photo {
    width: 1000px;
    height: 600px;
}

.main-logo:hover {
    text-decoration: none;
    transform: scale(1.5);
}

.more-buttons {
    display: flex;
    width: 150px;
    margin: auto;
}

.button-group a {
    border: 1px solid black;
}

.button-group button {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.status {
    margin-top: 4px;
    font-size: 14px;
    color: green;
}

.out-status {
    margin-top: 4px;
    font-size: 18px;
    color: red;
}

.in-stock {
    font-weight: bold;
    font-size: 24px;
    color: green;
}

.out-of-stock {
    font-weight: bold;
    font-size: 28px;
    color: red;
}

.options {
    font-size: 18px;
}